footer
	.container
		.row
			.col-md-4
				img(src="assets/images/w-logo.jpg")
			.col-md-4
				p COPYRIGHT &copy 2016. WILY LAB LIMITED
				P DESIGED AND DEVELOPED BY WILYLAB
			.col-md-4
				.redes
						a(href="#").fa.fa-facebook.fa-stack.media-social
						a(href="#").fa.fa-twitter.fa-stack.media-social
						a(href="#").fa.fa-google-plus.fa-stack.media-social
						a(href="#").fa.fa-pinterest.fa-stack.media-social
						a(href="#").fa.fa-linkedin.fa-stack.media-social