section#contact
	.container
		.row
			.col-md-9
				+encabezado('Contact Us')
				p.form-text We love being a web designer and were incredibly thankful that we decided to join this industry many years ago. Contact us so we can help better.
				form
					input(type="text",class="form-control",placeholder="Name*")
					input(type="text",class="form-control",placeholder="Email*")
					input(type="text",class="form-control",placeholder="Subject")
					textarea(class="form-control", id="exampleTextarea", rows="5") Message*
					button(type="submit", class="btn-enviar") SUBMIT
			.col-md-3
				h5.nigga CONTACT INFO
				p 1455 19th St.
				p Santa Monica, CA 90404

				.info
					p.nigga EMAIL
						span :youremail@yourdomain.com
					p.nigga PHONE
						span :+88 (0) 101 0000 000
					p.nigga FAX
						span :+88 (0) 202 0000 001

				.connect
					h5.nigga CONNECT WITH US
					.redes
						a(href="#").fa.fa-facebook.fa-stack.media-social
						a(href="#").fa.fa-twitter.fa-stack.media-social
						a(href="#").fa.fa-google-plus.fa-stack.media-social
						a(href="#").fa.fa-pinterest.fa-stack.media-social
						a(href="#").fa.fa-linkedin.fa-stack.media-social
					.redes
						a(href="#").fa.fa-facebook.fa-stack.media-social
						a(href="#").fa.fa-twitter.fa-stack.media-social
						a(href="#").fa.fa-google-plus.fa-stack.media-social
						a(href="#").fa.fa-pinterest.fa-stack.media-social
						a(href="#").fa.fa-linkedin.fa-stack.media-social

				.dropdowns
					span Our Company Mission
					hr
					span Company Philosophy
					hr
					span Company Promise
					hr