section#pricing
	.container
		.row
			.col-md-12
				+encabezado('Our Best Offers')
		.row
			.col-md-3
				+precio('$50', '20 USERS', '10 PAGES', '20 GB STORAGE', '100 EMAILS')
			.col-md-3
				+precio('$70', '50 USERS', '30 PAGES', '50 GB STORAGE', '150 EMAILS')
			.col-md-3
				+precio('$50', '20 USERS', '10 PAGES', '20 GB STORAGE', '100 EMAILS')
			.col-md-3
				+precio('$70', '50 USERS', '30 PAGES', '50 GB STORAGE', '150 EMAILS')