section#services
	.container
		.row
			.col-md-7
				.bg-services
			.col-md-5
				+encabezado('Services We Provide')
				p= parrafo
				+media('uno', 'PSD TEMPLATE DESIGN')
				+media('dos', 'GRAPHICS DESIGN')
				+media('tres', 'PHOTOGRAPHY')
