section#team
	.container
		.row
			.col-md-12
				+encabezado('Meet The Team')
		.row
			.col-md-6
				+team-media('p-1', 'NETHANEL GILROY', 'Founder & CEO')
			.col-md-6
				+team-media('p-2', 'NAREK ROUBEN', 'Marketing Director')
		.row
			.col-md-6.text-right
				+team-media-inverso('p-3', 'SAMANTHA MILNER', 'Creative Director')
			.col-md-6.text-right
				+team-media-inverso('p-4', 'LOUISE ALASTRIONA', 'Ui/UX Specialist')
				