doctype
html
	head
		include layout/head.jade
	body
		include mixin.jade
		include variables.jade
		include layout/header.jade
		include sections/services.jade
		include sections/about.jade
		include sections/team.jade
		include sections/pricing.jade
		include sections/contact.jade
		include layout/footer.jade
	script(type="text/javascript", src="assets/js/jquery.min.js")
	script(type="text/javascript", src="assets/js/bootstrap.min.js")
